# Adonis default .gitignore ignores
node_modules
build
coverage
.vscode
.DS_STORE
.env
tmp

# Additional good to have ignores for dockerignore
Dockerfile*
docker-compose*
.dockerignore
LICENSE
*.md
.git
.gitignore
