version: '3.8'

services:
  adonis_app:
    container_name: adonis_app
    restart: always
    build:
      context: .
      target: dependencies
    ports:
      - ${PORT}:${PORT}
      - ${ENCORE_PORT}:${ENCORE_PORT}
    env_file:
      - .env
    volumes:
      - ./:/home/node/app
    command: node ace serve --watch --encore-args="--host ${HOST} --port ${ENCORE_PORT}"
